 <div class="container">
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please register</h2>
        <input type="text" class="form-control" placeholder="Username" required="Введите имя" autofocus="" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">

        <input type="email" class="form-control" placeholder="Email address" required="Введите email" autofocus="" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">

        <input type="password" class="form-control" placeholder="Password" required="Введите пароль" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">

        <button (click)="Registration()" class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
      </form>
    </div>