 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Weather app</h1>
            <p class="lead">KOAN stack app that use API from WeatherAPI</p>
            <p class="lead"><a routerLink="/search" class="btn btn-lg btn-default">Start</a></p>
            <p class="lead"><a routerLink="/login" class="btn btn-lg btn-default">Login</a></p>
            <p class="lead"><a routerLink="/registration" class="btn btn-lg btn-default">Sign In</a></p>
              <div class="soc_icon">
                  <a class="btn btn-block btn-social btn-github" id="github_auth" href="https://a5d41477.ngrok.io/auth/github">
                  <span class="fa fa-github"></span> Sign in with GitHub
                </a>
                  <a class="btn btn-block btn-social btn-google" id="google_auth" (click)="GoogleAuth()">
                  <span class="fa fa-google"></span> Sign in with Google
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
