 <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" [(ngModel)]="phone.email" [ngModelOptions]="{standalone: true}">
        <input type="password" class="form-control" placeholder="Password" required="" [(ngModel)]="phone.password" [ngModelOptions]="{standalone: true}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>